.serviec-h1{
    margin: 60px;
    text-align: center;
    font-weight: bold;
}
.serviec-h1 span{
    font-weight: bold;
    color: rgb(96, 16, 133);
}
.see-more{
    text-align: center;
    margin: 30px;
}
.see-more button{
    width: 250px;
    height: 50px;
    border-radius: 7px;
}
.see-btn:hover{
    background-color: rgb(198, 169, 228);
}