.serviec-h1{
    padding: 50px 50px 0px 50px ;
    text-align: center;
    font-weight: bold;
    background-color: rgb(236, 215, 250);
    margin-bottom: 0;
}
.serviec-h1 span{
    font-weight: bold;
    color: rgb(96, 16, 133);
}
