.services{
    display: grid;
    grid-template-columns: 3fr;
    padding: 80px;
    background-color: rgb(236, 215, 250);
}
.cart-services{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin: auto;
    
}
@media screen and (max-width:480px) and (min-width:320px){
    .services{
        display: grid;
        grid-template-columns: 100%;
    }
    .cart-services{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
        margin:auto;
    }
}
@media screen and (max-width:650px) and (min-width:481px){
    .services{
        display: grid;
        grid-template-columns: 100%;
    }
    .cart-services{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
        margin:auto;
    }
}
@media screen and (max-width:800px) and (min-width:651px){
    .services{
        display: grid;
        grid-template-columns: 100%;
    }
    .cart-services{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 10px;
        margin:auto ;
    }
}
@media screen and (max-width:900px) and (min-width:800px){
    .services{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .cart-services{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 10px;
        margin:auto ;
    }
}




























/* @media screen and (max-width: 500px){
    .cart-services{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
}
@media screen and (max-width: 1000px){
    .cart-services{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
} */